<div class="container mt-4">
  <div class="card border bg-body-tertiary border-0 shadow-md shadow-sm p-2">
    <form action="<%= formAction %>" method="post" class="d-flex flex-column gap-3 card-body">
      <!-- Header -->
      <div class="cd-flex justify-content-between">
        <div class="d-flex justify-content-start align-items-center">
          <h5 class="card-title fw-bold"><%= formTitle %></h5>
        </div>
      </div>
      <!-- Inputs -->
      <div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="author" placeholder="Enter author" value="<%= author || '' %>" name="author">
          <label for="author">Author</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="title" placeholder="Enter title" value="<%= title || '' %>" name="title">
          <label for="title">Listing Title</label>
        </div>
        <div class="form-floating">
          <textarea class="form-control" placeholder="Leave a comment here" id="comments" style="height: 100px" name="comment"><%= comment || '' %></textarea>
          <label for="comments">Comments</label>
        </div>
      </div>
      <!-- Buttons -->
      <div class="d-flex justify-content-start align-items-center">
        <div>
          <button id="cancel" type="button" class="btn btn-outline-danger btn-sm" onclick="window.location='/'">Cancel</button>
          <button id="post" type="submit" class="btn btn-outline-success btn-sm"><%= buttonText %></button>
        </div>
      </div>
    </form>
  </div>
</div>