<!doctype html>
<html lang="en">

<head>
  <%- include('partials/head', { title: '' }) %>
</head>

<body>
  <%- include('partials/navbar') %>
  <%- include('partials/inputButton') %>
  <%- include('partials/label') %>
  <%- include('partials/todoContainer', { todos, formatDate }) %>
</body>

</html>